.navigation {
  height: 10vh;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  &_heading {
    font-size: 32px;
    font-family: $font-heading;
    color: $color-tertiary;
    font-weight: lighter;
    background: none;

    @media screen and (max-width: 800px) {
      margin-bottom: 45px;
    }

    @media screen and (max-width: 400px) {
      font-size: 16px;
    }
  }

  div {
    list-style-type: none;
    display: flex;
    gap: 50px;
    background: none;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }
}

.heading-bottom {
  text-align: left;
}

.text-heading {
  font-family: $font-heading;
  color: $color-secondary;
  font-size: 32px;
  font-weight: lighter;
  background: none;

  &--intro {
    font-size: 24px;
  }

  @media screen and (max-width: 400px) {
    font-size: 16px;
  }
}

.text {
  font-size: 18px;
  line-height: 1.8;

  &--link {
    color: $color-tertiary;
    background: none;
  }

  &--button {
    color: $color-tertiary;
    background: none;
    border-radius: 5px;
  }

  @media screen and (max-width: 400px) {
    font-size: 14px;
  }
}

.link-name {
  background: none;
}

.glass-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  width: 500px;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  position: relative;
  background: inherit;

  &_heading {
    text-align: center;
  }

  &_text {
    height: 60%;
    background: none;
    text-align: center;
  }

  &_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
  }

  &--intro {
    height: 45vh;
  }

  @media screen and (max-width: 800px) {
    width: 350px;
  }

  @media screen and (max-width: 400px) {
    width: 250px;
    height: 55vh;
  }
}

.image-main {
  border-radius: 10px;
  height: 70vh;
  width: 400px;

  @media screen and (max-width: 800px) {
    width: 350px;
  }

  @media screen and (max-width: 400px) {
    width: 250px;
    height: 55vh;
  }
}

.line {
  margin-top: 15vh;

  @media screen and (max-width: 800px) {
    width: 80%;
    margin-top: 10vh;
  }

  &--bottom {
    margin-top: 0;

    @media screen and (max-width: 800px) {
      margin-top: -5vh;
    }
  }

}