.header {
  margin: 10vh auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 800px) {
    margin-top: 35vh;
  }

  @media screen and (max-width: 400px) {
    margin-top: 30vh;
  }

  &_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    background: none;

    &_image {
      width: 150px;
      height: 165px;
      border-radius: 20px;
    }

    &_links {
      display: flex;
      justify-content: space-evenly;
      gap: 10px;
      background: none;

      a {
        background: none;

        img {
          width: 40px;
          height: 40px;
          background: none;
        }
      }
    }
  }
}

.experience-and-education {
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;

  @media screen and (max-width: 400px) {
    margin: 0;
  }

  .experience {
    display: flex;
    align-items: center;
    gap: 20px;
    background: none;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  .education {
    display: flex;
    align-items: center;
    gap: 20px;
    background: none;

    @media screen and (max-width: 800px) {
      flex-direction: column-reverse;
    }
  }
}

.projects {
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  background: none;

  @media screen and (max-width: 800px) {
    gap: 5vh;
    margin: 5vh auto;
  }

  &_group {
    background: none;

    &_heading {
      margin: 20px;
      background: none;

      @media screen and (max-width: 800px) {
        text-align: center;
      }
    }

    &_card {
      display: flex;
      align-items: center;
      gap: 20px;
      background: none;

      &--projects-3-and-4 {
        flex-direction: row-reverse;
      }

      @media screen and (max-width: 800px) {
        flex-direction: column;
      }
    }
  }
}

.align-right {
  text-align: right;

  @media screen and (max-width: 800px) {
    text-align: center;
  }
}