@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather";
  color: #4B4747;
  background: linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%);
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

.header {
  margin: 10vh auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .header {
    margin-top: 40vh;
  }
}
@media screen and (max-width: 400px) {
  .header {
    margin-top: 30vh;
  }
}
.header_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  background: none;
}
.header_intro_image {
  width: 150px;
  height: 165px;
  border-radius: 20px;
}
.header_intro_links {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  background: none;
}
.header_intro_links a {
  background: none;
}
.header_intro_links a img {
  width: 40px;
  height: 40px;
  background: none;
}

.experience-and-education {
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}
@media screen and (max-width: 400px) {
  .experience-and-education {
    margin: 0;
  }
}
.experience-and-education .experience {
  display: flex;
  align-items: center;
  gap: 20px;
  background: none;
}
@media screen and (max-width: 800px) {
  .experience-and-education .experience {
    flex-direction: column;
  }
}
.experience-and-education .education {
  display: flex;
  align-items: center;
  gap: 20px;
  background: none;
}
@media screen and (max-width: 800px) {
  .experience-and-education .education {
    flex-direction: column-reverse;
  }
}

.projects {
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  background: none;
}
@media screen and (max-width: 800px) {
  .projects {
    gap: 5vh;
    margin: 5vh auto;
  }
}
.projects_group {
  background: none;
}
.projects_group_heading {
  margin: 20px;
  background: none;
}
@media screen and (max-width: 800px) {
  .projects_group_heading {
    text-align: center;
  }
}
.projects_group_card {
  display: flex;
  align-items: center;
  gap: 20px;
  background: none;
}
@media screen and (max-width: 800px) {
  .projects_group_card {
    flex-direction: column;
  }
}
.projects_group_card--projects-3-and-4 {
  flex-direction: row-reverse;
}
@media screen and (max-width: 800px) {
  .projects_group_card--projects-3-and-4 {
    flex-direction: column-reverse;
  }
}

.align-right {
  text-align: right;
}
@media screen and (max-width: 800px) {
  .align-right {
    text-align: center;
  }
}

.navigation {
  height: 10vh;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .navigation {
    flex-direction: column;
  }
}
.navigation_heading {
  font-size: 32px;
  font-family: "Montserrat";
  color: #730B8D;
  font-weight: lighter;
  background: none;
}
@media screen and (max-width: 800px) {
  .navigation_heading {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 400px) {
  .navigation_heading {
    font-size: 16px;
  }
}
.navigation div {
  list-style-type: none;
  display: flex;
  gap: 50px;
  background: none;
}
@media screen and (max-width: 800px) {
  .navigation div {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.heading-bottom {
  text-align: left;
}

.text-heading {
  font-family: "Montserrat";
  color: #3D2D41;
  font-size: 32px;
  font-weight: lighter;
  background: none;
}
.text-heading--intro {
  font-size: 24px;
}
@media screen and (max-width: 400px) {
  .text-heading {
    font-size: 16px;
  }
}

.text {
  font-size: 18px;
  line-height: 1.8;
}
.text--link {
  color: #730B8D;
  background: none;
}
@media screen and (max-width: 400px) {
  .text {
    font-size: 14px;
  }
}

.link-name {
  background: none;
}

.glass-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  width: 500px;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  background: inherit;
}
.glass-box p {
  height: 60%;
  background: none;
  text-align: center;
}
.glass-box--intro {
  height: 45vh;
}
@media screen and (max-width: 800px) {
  .glass-box {
    width: 350px;
  }
}
@media screen and (max-width: 400px) {
  .glass-box {
    width: 250px;
    height: 55vh;
  }
}

.image-main {
  border-radius: 10px;
  height: 70vh;
  width: 400px;
}
@media screen and (max-width: 800px) {
  .image-main {
    width: 350px;
  }
}
@media screen and (max-width: 400px) {
  .image-main {
    width: 250px;
    height: 55vh;
  }
}

.line {
  margin-top: 15vh;
}
@media screen and (max-width: 800px) {
  .line {
    width: 80%;
    margin-top: 10vh;
  }
}
.line--bottom {
  margin-top: 0;
}
@media screen and (max-width: 800px) {
  .line--bottom {
    margin-top: -5vh;
  }
}