@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather";
  color: #4B4747;
  background: linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%);
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

.header {
  margin: 10vh auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  background: none;
}
.header_intro_image {
  width: 150px;
  height: 165px;
  border-radius: 20px;
}
.header_intro_links {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  background: none;
}
.header_intro_links a {
  background: none;
}
.header_intro_links a img {
  width: 40px;
  height: 40px;
  background: none;
}

.experience-and-education {
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}
.experience-and-education .experience {
  display: flex;
  align-items: center;
  gap: 20px;
}
.experience-and-education .education {
  display: flex;
  align-items: center;
  gap: 20px;
}

.projects {
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  background: none;
}
.projects_group {
  background: none;
}
.projects_group_heading {
  margin: 20px;
  background: none;
}
.projects_group_card {
  display: flex;
  align-items: center;
  gap: 20px;
  background: none;
}

.align-right {
  text-align: right;
}

.navigation {
  height: 10vh;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .navigation {
    flex-direction: column;
  }
}
.navigation_heading {
  font-size: 32px;
  font-family: "Montserrat";
  color: #730B8D;
  font-weight: lighter;
  background: none;
}
.navigation div {
  list-style-type: none;
  display: flex;
  gap: 50px;
  background: none;
}
@media screen and (max-width: 400px) {
  .navigation div {
    flex-direction: column;
  }
}

.text-heading {
  font-family: "Montserrat";
  color: #3D2D41;
  font-size: 32px;
  font-weight: lighter;
  background: none;
}
.text-heading--intro {
  font-size: 24px;
}

.glass-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  gap: 20px;
  width: 450px;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  background: inherit;
}
.glass-box p {
  text-align: center;
  background: none;
}
.glass-box--intro {
  height: 45vh;
}
@media screen and (max-width: 400px) {
  .glass-box {
    width: 250px;
  }
}

.hr {
  color: #730B8D;
  width: 80%;
  size: 10px;
}

.image-main {
  border-radius: 10px;
  height: 70vh;
  width: 400px;
}
.image-main--project {
  height: 70vh;
}